<head>
    <title>Poc Microfronts with Tailor example</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="manifest" href="./manifest.json">
    <style>
        body {
            background: #ECEFF4;
        }

        .fragment-error {
            background: #ff5252 !important;
            padding: 20px;
            margin-top: 50px;
            color: #fff;
        }
    </style>

</head>

<body>
    <div class="service" data-title="header">
        <fragment id="header"></fragment>
    </div>
</body>

</html>